<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title><%= title %></title>
    <% posts.each do |post| %>
        <entry>
            <link href="<%= post.url %>" />
            <author>
                <name><%= author %></name>
            </author>
            <published><%= post.published %></published>
            <id><%= post.id %></id>
            <content type="html">
                <![CDATA[
                <% if post.video_url %>
                    <video src="<%= post.video_url %>" poster="<%= post.display_src %>" />
                <% else %>
                    <a href="<%= post.display_src %>"><img src="<%= post.display_src %>"></a>
                <% end %>
                <p><%= post.caption %></p>
                ]]>
            </content>
        </entry>
    <% end %>
</feed>